# Ames Housing Saleprice

## Problem Statement

Create a regression model where we are able to see what features affects the price of the house at sales the most.

## Executive Summary

### Contents:
- [1. Importing of libraries](#1.-Importing-of-Libraries)
- [2. Importing Datasets](#2.-Importing-of-Datasets)
- [3. Manual Check of Dataset](#3.-Manual-Check-of-Dataset)
- [4. Data Cleaning](#4.-Data-Cleaning)
- [5. Exploratory Data Analysis(EDA)](#5.-Exploratory-Data-Analysis(EDA))


Links:
[Kaggle challenge link](https://www.kaggle.com/c/dsi-us-6-project-2-regression-challenge/data)

# 1. Importing of Libraries

In [1]:
#Imports:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
plt.style.use('ggplot')

In [2]:
from IPython.display import display
pd.set_option('display.max_rows', 3000)
pd.set_option('display.max_columns', 200)
pd.set_option('display.width', 1000)

# 2. Importing of Datasets

In [3]:
df_train = pd.read_csv('../datasets/train.csv')
df_test = pd.read_csv('../datasets/test.csv')
df_train.shape , df_test.shape

((2051, 81), (879, 80))

# 3. Manual Check of Dataset

In [4]:
list(set(df_train) - set(df_test)) # checking difference between train and test dataset

['SalePrice']

In [5]:
#adding Saleprice column to test dataframe to combine the 2 dataset for analysis
df_test['SalePrice'] = 0

In [6]:
print(list(set(df_train) - set(df_test))) # checking difference between train and test dataset again
df_train.shape , df_test.shape

[]

((2051, 81), (879, 81))

In [7]:
df = pd.concat([df_train, df_test], ignore_index=False, sort=False, axis = 0)
df.shape

(2930, 81)

## 3.1 first 20 columns of data

In [8]:
df.iloc[:,:20].head()

    Id        PID  MS SubClass MS Zoning  Lot Frontage  Lot Area Street Alley Lot Shape Land Contour Utilities Lot Config Land Slope Neighborhood Condition 1 Condition 2 Bldg Type House Style  Overall Qual  Overall Cond
0  109  533352170           60        RL           NaN     13517   Pave   NaN       IR1          Lvl    AllPub    CulDSac        Gtl       Sawyer        RRAe        Norm      1Fam      2Story             6             8
1  544  531379050           60        RL          43.0     11492   Pave   NaN       IR1          Lvl    AllPub    CulDSac        Gtl      SawyerW        Norm        Norm      1Fam      2Story             7             5
2  153  535304180           20        RL          68.0      7922   Pave   NaN       Reg          Lvl    AllPub     Inside        Gtl        NAmes        Norm        Norm      1Fam      1Story             5             7
3  318  916386060           60        RL          73.0      9802   Pave   NaN       Reg          Lvl    AllPub     Inside        Gtl       Timber        Norm        Norm      1Fam      2Story             5             5
4  255  906425045           50        RL          82.0     14235   Pave   NaN       IR1          Lvl    AllPub     Inside        Gtl      SawyerW        Norm        Norm      1Fam      1.5Fin             6             8

In [9]:
df.iloc[:,:20].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2930 entries, 0 to 878
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            2930 non-null   int64
 1   PID           2930 non-null   int64
 2   MS SubClass   2930 non-null   int64
 3   MS Zoning     2930 non-null   object
 4   Lot Frontage  2440 non-null   float64
 5   Lot Area      2930 non-null   int64
 6   Street        2930 non-null   object
 7   Alley         198 non-null    object
 8   Lot Shape     2930 non-null   object
 9   Land Contour  2930 non-null   object
 10  Utilities     2930 non-null   object
 11  Lot Config    2930 non-null   object
 12  Land Slope    2930 non-null   object
 13  Neighborhood  2930 non-null   object
 14  Condition 1   2930 non-null   object
 15  Condition 2   2930 non-null   object
 16  Bldg Type     2930 non-null   object
 17  House Style   2930 non-null   object
 18  Overall Qual  2930 non-null   int64
 19  Overall Cond  2930 non-null   int64
dtypes: float64(1), int64(6), object(13)
memory usage: 480.7+ KB

In [10]:
df.iloc[:,:20].describe(include='all').T

             count unique     top  freq         mean          std          min          25%          50%          75%         max
Id            2930    NaN     NaN   NaN       1465.5      845.962            1       733.25       1465.5      2197.75        2930
PID           2930    NaN     NaN   NaN  7.14464e+08  1.88731e+08  5.26301e+08  5.28477e+08  5.35454e+08  9.07181e+08  1.0071e+09
MS SubClass   2930    NaN     NaN   NaN      57.3874       42.638           20           20           50           70         190
MS Zoning     2930      7      RL  2273          NaN          NaN          NaN          NaN          NaN          NaN         NaN
Lot Frontage  2440    NaN     NaN   NaN      69.2246      23.3653           21           58           68           80         313
Lot Area      2930    NaN     NaN   NaN      10147.9      7880.02         1300      7440.25       9436.5      11555.2      215245
Street        2930      2    Pave  2918          NaN          NaN          NaN          NaN          NaN          NaN         NaN
Alley          198      2    Grvl   120          NaN          NaN          NaN          NaN          NaN          NaN         NaN
Lot Shape     2930      4     Reg  1859          NaN          NaN          NaN          NaN          NaN          NaN         NaN
Land Contour  2930      4     Lvl  2633          NaN          NaN          NaN          NaN          NaN          NaN         NaN
Utilities     2930      3  AllPub  2927          NaN          NaN          NaN          NaN          NaN          NaN         NaN
Lot Config    2930      5  Inside  2140          NaN          NaN          NaN          NaN          NaN          NaN         NaN
Land Slope    2930      3     Gtl  2789          NaN          NaN          NaN          NaN          NaN          NaN         NaN
Neighborhood  2930     28   NAmes   443          NaN          NaN          NaN          NaN          NaN          NaN         NaN
Condition 1   2930      9    Norm  2522          NaN          NaN          NaN          NaN          NaN          NaN         NaN
Condition 2   2930      8    Norm  2900          NaN          NaN          NaN          NaN          NaN          NaN         NaN
Bldg Type     2930      5    1Fam  2425          NaN          NaN          NaN          NaN          NaN          NaN         NaN
House Style   2930      8  1Story  1481          NaN          NaN          NaN          NaN          NaN          NaN         NaN
Overall Qual  2930    NaN     NaN   NaN      6.09488      1.41103            1            5            6            7          10
Overall Cond  2930    NaN     NaN   NaN      5.56314      1.11154            1            5            5            6           9

### 3.1. comments:
- All dtypes of the 20 features are correct for what they suppose to represent
- "PID" seems to be an unknown data to explained on the Data Dictionary.
- Missing datas:
  - Lot Frontage, float
  - Alley, object
- No Negative values noted

## 3.2. Second 20 columns

In [11]:
#Checking 2nd 20 columns of data
df.iloc[:, 20:40].head()

   Year Built  Year Remod/Add Roof Style Roof Matl Exterior 1st Exterior 2nd Mas Vnr Type  Mas Vnr Area Exter Qual Exter Cond Foundation Bsmt Qual Bsmt Cond Bsmt Exposure BsmtFin Type 1  BsmtFin SF 1 BsmtFin Type 2  BsmtFin SF 2  Bsmt Unf SF  Total Bsmt SF
0        1976            2005      Gable   CompShg      HdBoard      Plywood      BrkFace         289.0         Gd         TA     CBlock        TA        TA            No            GLQ         533.0            Unf           0.0        192.0          725.0
1        1996            1997      Gable   CompShg      VinylSd      VinylSd      BrkFace         132.0         Gd         TA      PConc        Gd        TA            No            GLQ         637.0            Unf           0.0        276.0          913.0
2        1953            2007      Gable   CompShg      VinylSd      VinylSd         None           0.0         TA         Gd     CBlock        TA        TA            No            GLQ         731.0            Unf           0.0        326.0         1057.0
3        2006            2007      Gable   CompShg      VinylSd      VinylSd         None           0.0         TA         TA      PConc        Gd        TA            No            Unf           0.0            Unf           0.0        384.0          384.0
4        1900            1993      Gable   CompShg      Wd Sdng      Plywood         None           0.0         TA         TA      PConc        Fa        Gd            No            Unf           0.0            Unf           0.0        676.0          676.0

In [12]:
#checking for data types and null objects.
df.iloc[:, 20:40].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2930 entries, 0 to 878
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year Built      2930 non-null   int64
 1   Year Remod/Add  2930 non-null   int64
 2   Roof Style      2930 non-null   object
 3   Roof Matl       2930 non-null   object
 4   Exterior 1st    2930 non-null   object
 5   Exterior 2nd    2930 non-null   object
 6   Mas Vnr Type    2907 non-null   object
 7   Mas Vnr Area    2907 non-null   float64
 8   Exter Qual      2930 non-null   object
 9   Exter Cond      2930 non-null   object
 10  Foundation      2930 non-null   object
 11  Bsmt Qual       2850 non-null   object
 12  Bsmt Cond       2850 non-null   object
 13  Bsmt Exposure   2847 non-null   object
 14  BsmtFin Type 1  2850 non-null   object
 15  BsmtFin SF 1    2929 non-null   float64
 16  BsmtFin Type 2  2849 non-null   object
 17  BsmtFin SF 2    2929 non-null   float64
 18  Bsmt Unf SF     2929 non-null   float64
 19  Total Bsmt SF   2929 non-null   float64
dtypes: float64(5), int64(2), object(13)
memory usage: 480.7+ KB

In [13]:
df.iloc[:, 20:40].describe(include='all').T

               count unique      top  freq     mean      std   min   25%   50%   75%   max
Year Built      2930    NaN      NaN   NaN  1971.36  30.2454  1872  1954  1973  2001  2010
Year Remod/Add  2930    NaN      NaN   NaN  1984.27  20.8603  1950  1965  1993  2004  2010
Roof Style      2930      6    Gable  2321      NaN      NaN   NaN   NaN   NaN   NaN   NaN
Roof Matl       2930      8  CompShg  2887      NaN      NaN   NaN   NaN   NaN   NaN   NaN
Exterior 1st    2930     16  VinylSd  1026      NaN      NaN   NaN   NaN   NaN   NaN   NaN
Exterior 2nd    2930     17  VinylSd  1015      NaN      NaN   NaN   NaN   NaN   NaN   NaN
Mas Vnr Type    2907      5     None  1752      NaN      NaN   NaN   NaN   NaN   NaN   NaN
Mas Vnr Area    2907    NaN      NaN   NaN  101.897  179.113     0     0     0   164  1600
Exter Qual      2930      4       TA  1799      NaN      NaN   NaN   NaN   NaN   NaN   NaN
Exter Cond      2930      5       TA  2549      NaN      NaN   NaN   NaN   NaN   NaN   NaN
Foundation      2930      6    PConc  1310      NaN      NaN   NaN   NaN   NaN   NaN   NaN
Bsmt Qual       2850      5       TA  1283      NaN      NaN   NaN   NaN   NaN   NaN   NaN
Bsmt Cond       2850      5       TA  2616      NaN      NaN   NaN   NaN   NaN   NaN   NaN
Bsmt Exposure   2847      4       No  1906      NaN      NaN   NaN   NaN   NaN   NaN   NaN
BsmtFin Type 1  2850      6      GLQ   859      NaN      NaN   NaN   NaN   NaN   NaN   NaN
BsmtFin SF 1    2929    NaN      NaN   NaN   442.63  455.591     0     0   370   734  5644
BsmtFin Type 2  2849      6      Unf  2499      NaN      NaN   NaN   NaN   NaN   NaN   NaN
BsmtFin SF 2    2929    NaN      NaN   NaN  49.7224  169.168     0     0     0     0  1526
Bsmt Unf SF     2929    NaN      NaN   NaN  559.263  439.494     0   219   466   802  2336
Total Bsmt SF   2929    NaN      NaN   NaN  1051.61  440.615     0   793   990  1302  6110

### 3.2. comments:
- All dtypes of the 20 features are correct for what they suppose to represent
- Missing datas:
  - Mas Vnr Type, object
  - Mas Vnr Area, float64
  - Bsmt Qual, object
  - Bsmt Cond,object
  - Bsmt Exposure, object
  - BsmtFin Type 1, object
  - BsmtFin SF 1, float64
  - BsmtFin Type 2, object
  - BsmtFin SF 2, float64
  - Bsmt Unf SF, float64
  - Total Bsmt SF, float64
- No Negative values noted

## 3.3. Third 20 columns

In [14]:
# checking third 20 columns
df.iloc[:, 40:60].head()

  Heating Heating QC Central Air Electrical  1st Flr SF  2nd Flr SF  Low Qual Fin SF  Gr Liv Area  Bsmt Full Bath  Bsmt Half Bath  Full Bath  Half Bath  Bedroom AbvGr  Kitchen AbvGr Kitchen Qual  TotRms AbvGrd Functional  Fireplaces Fireplace Qu Garage Type
0    GasA         Ex           Y      SBrkr         725         754                0         1479             0.0             0.0          2          1              3              1           Gd              6        Typ           0          NaN      Attchd
1    GasA         Ex           Y      SBrkr         913        1209                0         2122             1.0             0.0          2          1              4              1           Gd              8        Typ           1           TA      Attchd
2    GasA         TA           Y      SBrkr        1057           0                0         1057             1.0             0.0          1          0              3              1           Gd              5        Typ           0          NaN      Detchd
3    GasA         Gd           Y      SBrkr         744         700                0         1444             0.0             0.0          2          1              3              1           TA              7        Typ           0          NaN     BuiltIn
4    GasA         TA           Y      SBrkr         831         614                0         1445             0.0             0.0          2          0              3              1           TA              6        Typ           0          NaN      Detchd

In [15]:
# checking dtypes and null values
df.iloc[:, 40:60].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2930 entries, 0 to 878
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Heating          2930 non-null   object
 1   Heating QC       2930 non-null   object
 2   Central Air      2930 non-null   object
 3   Electrical       2929 non-null   object
 4   1st Flr SF       2930 non-null   int64
 5   2nd Flr SF       2930 non-null   int64
 6   Low Qual Fin SF  2930 non-null   int64
 7   Gr Liv Area      2930 non-null   int64
 8   Bsmt Full Bath   2928 non-null   float64
 9   Bsmt Half Bath   2928 non-null   float64
 10  Full Bath        2930 non-null   int64
 11  Half Bath        2930 non-null   int64
 12  Bedroom AbvGr    2930 non-null   int64
 13  Kitchen AbvGr    2930 non-null   int64
 14  Kitchen Qual     2930 non-null   object
 15  TotRms AbvGrd    2930 non-null   int64
 16  Functional       2930 non-null   object
 17  Fireplaces       2930 non-null   int64
 18  Fireplace Qu     1508 non-null   object
 19  Garage Type      2773 non-null   object
dtypes: float64(2), int64(10), object(8)
memory usage: 480.7+ KB

In [16]:
df.iloc[:, 40:60].describe(include='all').T

                count unique     top  freq       mean       std  min     25%   50%      75%   max
Heating          2930      6    GasA  2885        NaN       NaN  NaN     NaN   NaN      NaN   NaN
Heating QC       2930      5      Ex  1495        NaN       NaN  NaN     NaN   NaN      NaN   NaN
Central Air      2930      2       Y  2734        NaN       NaN  NaN     NaN   NaN      NaN   NaN
Electrical       2929      5   SBrkr  2682        NaN       NaN  NaN     NaN   NaN      NaN   NaN
1st Flr SF       2930    NaN     NaN   NaN    1159.56   391.891  334  876.25  1084     1384  5095
2nd Flr SF       2930    NaN     NaN   NaN    335.456   428.396    0       0     0   703.75  2065
Low Qual Fin SF  2930    NaN     NaN   NaN    4.67679   46.3105    0       0     0        0  1064
Gr Liv Area      2930    NaN     NaN   NaN    1499.69   505.509  334    1126  1442  1742.75  5642
Bsmt Full Bath   2928    NaN     NaN   NaN   0.431352   0.52482    0       0     0        1     3
Bsmt Half Bath   2928    NaN     NaN   NaN  0.0611339  0.245254    0       0     0        0     2
Full Bath        2930    NaN     NaN   NaN    1.56655  0.552941    0       1     2        2     4
Half Bath        2930    NaN     NaN   NaN   0.379522  0.502629    0       0     0        1     2
Bedroom AbvGr    2930    NaN     NaN   NaN    2.85427  0.827731    0       2     3        3     8
Kitchen AbvGr    2930    NaN     NaN   NaN    1.04437  0.214076    0       1     1        1     3
Kitchen Qual     2930      5      TA  1494        NaN       NaN  NaN     NaN   NaN      NaN   NaN
TotRms AbvGrd    2930    NaN     NaN   NaN      6.443   1.57296    2       5     6        7    15
Functional       2930      8     Typ  2728        NaN       NaN  NaN     NaN   NaN      NaN   NaN
Fireplaces       2930    NaN     NaN   NaN   0.599317  0.647921    0       0     1        1     4
Fireplace Qu     1508      5      Gd   744        NaN       NaN  NaN     NaN   NaN      NaN   NaN
Garage Type      2773      6  Attchd  1731        NaN       NaN  NaN     NaN   NaN      NaN   NaN

### 3.3. comments:
- All dtypes of the 20 features are correct for what they suppose to represent
- Missing datas:
  - Bsmt Full Bath, float64
  - Bsmt Half Bath, float 64
  - Fireplace Qu, object
  - Garage Type, object
- No Negative values noted

## 3.4. last 21 columns

In [17]:
# checking last 21 columns
df.iloc[:, 60:].head()

   Garage Yr Blt Garage Finish  Garage Cars  Garage Area Garage Qual Garage Cond Paved Drive  Wood Deck SF  Open Porch SF  Enclosed Porch  3Ssn Porch  Screen Porch  Pool Area Pool QC Fence Misc Feature  Misc Val  Mo Sold  Yr Sold Sale Type  SalePrice
0         1976.0           RFn          2.0        475.0          TA          TA           Y             0             44               0           0             0          0     NaN   NaN          NaN         0        3     2010       WD      130500
1         1997.0           RFn          2.0        559.0          TA          TA           Y             0             74               0           0             0          0     NaN   NaN          NaN         0        4     2009       WD      220000
2         1953.0           Unf          1.0        246.0          TA          TA           Y             0             52               0           0             0          0     NaN   NaN          NaN         0        1     2010       WD      109000
3         2007.0           Fin          2.0        400.0          TA          TA           Y           100              0               0           0             0          0     NaN   NaN          NaN         0        4     2010       WD      174000
4         1957.0           Unf          2.0        484.0          TA          TA           N             0             59               0           0             0          0     NaN   NaN          NaN         0        3     2010       WD      138500

In [18]:
df.iloc[:, 60:].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2930 entries, 0 to 878
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Garage Yr Blt   2771 non-null   float64
 1   Garage Finish   2771 non-null   object
 2   Garage Cars     2929 non-null   float64
 3   Garage Area     2929 non-null   float64
 4   Garage Qual     2771 non-null   object
 5   Garage Cond     2771 non-null   object
 6   Paved Drive     2930 non-null   object
 7   Wood Deck SF    2930 non-null   int64
 8   Open Porch SF   2930 non-null   int64
 9   Enclosed Porch  2930 non-null   int64
 10  3Ssn Porch      2930 non-null   int64
 11  Screen Porch    2930 non-null   int64
 12  Pool Area       2930 non-null   int64
 13  Pool QC         13 non-null     object
 14  Fence           572 non-null    object
 15  Misc Feature    106 non-null    object
 16  Misc Val        2930 non-null   int64
 17  Mo Sold         2930 non-null   int64
 18  Yr Sold         2930 non-null   int64
 19  Sale Type       2930 non-null   object
 20  SalePrice       2930 non-null   int64
dtypes: float64(3), int64(10), object(8)
memory usage: 503.6+ KB

In [19]:
df.iloc[:, 60:].describe(include='all').T

               count unique    top  freq     mean       std   min   25%     50%     75%     max
Garage Yr Blt   2771    NaN    NaN   NaN  1978.13   25.5284  1895  1960    1979    2002    2207
Garage Finish   2771      3    Unf  1231      NaN       NaN   NaN   NaN     NaN     NaN     NaN
Garage Cars     2929    NaN    NaN   NaN  1.76681  0.760566     0     1       2       2       5
Garage Area     2929    NaN    NaN   NaN   472.82   215.047     0   320     480     576    1488
Garage Qual     2771      5     TA  2615      NaN       NaN   NaN   NaN     NaN     NaN     NaN
Garage Cond     2771      5     TA  2665      NaN       NaN   NaN   NaN     NaN     NaN     NaN
Paved Drive     2930      3      Y  2652      NaN       NaN   NaN   NaN     NaN     NaN     NaN
Wood Deck SF    2930    NaN    NaN   NaN  93.7519   126.362     0     0       0     168    1424
Open Porch SF   2930    NaN    NaN   NaN  47.5334   67.4834     0     0      27      70     742
Enclosed Porch  2930    NaN    NaN   NaN  23.0116   64.1391     0     0       0       0    1012
3Ssn Porch      2930    NaN    NaN   NaN  2.59249   25.1413     0     0       0       0     508
Screen Porch    2930    NaN    NaN   NaN   16.002   56.0874     0     0       0       0     576
Pool Area       2930    NaN    NaN   NaN  2.24334   35.5972     0     0       0       0     800
Pool QC           13      4     Ex     4      NaN       NaN   NaN   NaN     NaN     NaN     NaN
Fence            572      4  MnPrv   330      NaN       NaN   NaN   NaN     NaN     NaN     NaN
Misc Feature     106      5   Shed    95      NaN       NaN   NaN   NaN     NaN     NaN     NaN
Misc Val        2930    NaN    NaN   NaN  50.6352   566.344     0     0       0       0   17000
Mo Sold         2930    NaN    NaN   NaN  6.21604   2.71449     1     4       6       8      12
Yr Sold         2930    NaN    NaN   NaN  2007.79   1.31661  2006  2007    2008    2009    2010
Sale Type       2930     10    WD   2536      NaN       NaN   NaN   NaN     NaN     NaN     NaN
SalePrice       2930    NaN    NaN   NaN   127029    106370     0     0  134500  186600  611657

### 3.4. comments:
- All dtypes of the 20 features are correct for what they suppose to represent
- Missing datas:
  - Garage Yr Blt, float64
  -  Garage Finish, object
  - Garage Cars, float64
  - Garage Area, float 64
  - Garage Qual, object
  - Garage Cond, object
  - Pool QC, object
  - Fence, object
  - Misc Feature, object
- No Negative values noted

# 4. Data Cleaning

### 4.1 Counting the missing values

In [20]:
#checking the count and list of nan values
nan_values = df.isna().sum().sort_values(ascending = False)
nan_values_list = nan_values[nan_values >= 1]
nan_values_list

Pool QC           2917
Misc Feature      2824
Alley             2732
Fence             2358
Fireplace Qu      1422
Lot Frontage       490
Garage Qual        159
Garage Finish      159
Garage Yr Blt      159
Garage Cond        159
Garage Type        157
Bsmt Exposure       83
BsmtFin Type 2      81
Bsmt Qual           80
Bsmt Cond           80
BsmtFin Type 1      80
Mas Vnr Area        23
Mas Vnr Type        23
Bsmt Half Bath       2
Bsmt Full Bath       2
Garage Area          1
Garage Cars          1
BsmtFin SF 2         1
BsmtFin SF 1         1
Bsmt Unf SF          1
Total Bsmt SF        1
Electrical           1
dtype: int64

### 4.1. comments
Missing values above will either be removed or filled in after manual inspection with data dictionary

# 4.2. Filling Missing values

## 4.2.1 Filling Missing values in Pool QC
- Base on data dictionary, empty values suppose to be houses without pools
- Thus the information will need to be filled in

In [21]:
#importing datasets without NA filter
df_train_nona = pd.read_csv('../datasets/train.csv', na_filter = False)
df_test_nona = pd.read_csv('../datasets/test.csv', na_filter = False)
df_nona = pd.concat([df_train_nona, df_test_nona], ignore_index=False, sort=False, axis = 0)
df_nona.isna().sum().sum()

879

Missing data belongs to Test data set with no sale price data

In [22]:
#checking for unique values
df['Pool QC'].unique()

array([nan, 'Fa', 'Gd', 'Ex', 'TA'], dtype=object)

In [23]:
#checking for unique values
df_nona['Pool QC'].unique()

array(['NA', 'Fa', 'Gd', 'Ex', 'TA'], dtype=object)

In [24]:
#replacing nan value with NA for Pool QC
df['Pool QC'].fillna('NA', inplace = True)
#checking unique values of Pool QC
df['Pool QC'].unique()

array(['NA', 'Fa', 'Gd', 'Ex', 'TA'], dtype=object)

In [25]:
df['Pool QC'].isna().sum()

0

### 4.2.1 comments: 
All missing values in 'Pool QC' has been filled

## 4.2.2 Filling missing values in Misc Feature
- base on data dictionary, missing values should be house without misc feature
- thus information will need to be filled in

In [26]:
#checking for unique values
df['Misc Feature'].unique()

array([nan, 'Shed', 'TenC', 'Gar2', 'Othr', 'Elev'], dtype=object)

In [27]:
#checking for unique values
df_nona['Misc Feature'].unique()

array(['NA', 'Shed', 'TenC', 'Gar2', 'Othr', 'Elev'], dtype=object)

In [28]:
#replacing nan value with NA for Misc Feature
df['Misc Feature'].fillna('NA', inplace = True)
#checking unique values of Pool QC
df['Misc Feature'].unique()

array(['NA', 'Shed', 'TenC', 'Gar2', 'Othr', 'Elev'], dtype=object)

In [29]:
df['Misc Feature'].isna().sum()

0

### 4.2.2 comments: 
All missing values in 'Misc Feature' has been filled

## 4.2.3 Filling missing values in Alley category
- base on data dictionary, missing values should be house without alley access
- thus information will need to be filled in

In [30]:
#checking for unique values
df['Alley'].unique()

array([nan, 'Pave', 'Grvl'], dtype=object)

In [31]:
#checking for unique values
df_nona['Alley'].unique()

array(['NA', 'Pave', 'Grvl'], dtype=object)

In [32]:
#replacing nan value with NA for Alley
df['Alley'].fillna('NA', inplace = True)
#checking unique values of Pool QC
df['Alley'].unique()

array(['NA', 'Pave', 'Grvl'], dtype=object)

In [33]:
df['Alley'].isna().sum()

0

### 4.2.3 comments: 
All missing values in 'Alley' has been filled

## 4.2.4 Filling missing values in Fence category
- base on data dictionary, missing values should be house without fence
- thus information will need to be filled in

In [34]:
#checking for unique values
df['Fence'].unique()

array([nan, 'MnPrv', 'GdPrv', 'GdWo', 'MnWw'], dtype=object)

In [35]:
#checking for unique values
df_nona['Fence'].unique()

array(['NA', 'MnPrv', 'GdPrv', 'GdWo', 'MnWw'], dtype=object)

In [36]:
#replacing nan value with NA for Alley
df['Fence'].fillna('NA', inplace = True)
#checking unique values of Pool QC
df['Fence'].unique()

array(['NA', 'MnPrv', 'GdPrv', 'GdWo', 'MnWw'], dtype=object)

In [37]:
df['Fence'].isna().sum()

0

### 4.2.4 comments: 
All missing values in 'Fence' has been filled

## 4.2.5 Filling missing values in Fireplace QU
- base on data dictionary, missing values should be house without fireplaces
- thus information will need to be filled in

In [38]:
#checking for unique values
df['Fireplace Qu'].unique()

array([nan, 'TA', 'Gd', 'Po', 'Ex', 'Fa'], dtype=object)

In [39]:
#checking for unique values
df_nona['Fireplace Qu'].unique()

array(['NA', 'TA', 'Gd', 'Po', 'Ex', 'Fa'], dtype=object)

In [40]:
#replacing nan value with NA for Alley
df['Fireplace Qu'].fillna('NA', inplace = True)
#checking unique values of Pool QC
df['Fireplace Qu'].unique()

array(['NA', 'TA', 'Gd', 'Po', 'Ex', 'Fa'], dtype=object)

In [41]:
df['Fence'].isna().sum()

0

### 4.2.5 comments: 
All missing values in 'Fireplace QU' has been filled

## 4.2.6 Filling missing values in Lot Frontage
- base on data dictionary, missing values should be Linear feet of street connected to property
- adding in 0 for missing values to keep the datatype as a float

In [42]:
#checking for null values
df['Lot Frontage'].isnull().sum()

490

In [43]:
#replacing nan value with 0 for Lot Frontage
df['Lot Frontage'].fillna(0, inplace = True)

In [44]:
#checking for null values
df['Lot Frontage'].isnull().sum()

0

### 4.2.6 comments: 
All missing values in 'Lot Frontage' has been filled

# 4.2.7 Handling Garage related columns

In [45]:
#Filtering Garage related columns
df_garage = df.filter(regex='Garage')
df_garage.isna().sum()

Garage Type      157
Garage Yr Blt    159
Garage Finish    159
Garage Cars        1
Garage Area        1
Garage Qual      159
Garage Cond      159
dtype: int64

In [46]:
#checking dtypes
df_garage.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2930 entries, 0 to 878
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Garage Type    2773 non-null   object
 1   Garage Yr Blt  2771 non-null   float64
 2   Garage Finish  2771 non-null   object
 3   Garage Cars    2929 non-null   float64
 4   Garage Area    2929 non-null   float64
 5   Garage Qual    2771 non-null   object
 6   Garage Cond    2771 non-null   object
dtypes: float64(3), object(4)
memory usage: 183.1+ KB

- 'Garage Type', 'Garage Finish', 'Garage Qual' and 'Garage Cond'should have NA values in them.
- 'Garage Yr Blt' refers to year Garage is built, so a number need to be insert for dtype to remain float
- Garage cars and Garage area denotes the number of car and area size of garade, therefore a number need to be filled in for nan values

In [47]:
#filling dtypes object nan values
df['Garage Type'].fillna('NA', inplace = True)
df['Garage Finish'].fillna('NA', inplace = True)
df['Garage Qual'].fillna('NA', inplace = True)
df['Garage Cond'].fillna('NA', inplace = True)

#filling dtypes float64 nan values with number 0
df['Garage Yr Blt'].fillna(0 , inplace = True)
df['Garage Cars'].fillna(0 , inplace = True)
df['Garage Area'].fillna(0 , inplace = True)

In [48]:
df_garage = df.filter(regex='Garage')
df_garage.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2930 entries, 0 to 878
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Garage Type    2930 non-null   object
 1   Garage Yr Blt  2930 non-null   float64
 2   Garage Finish  2930 non-null   object
 3   Garage Cars    2930 non-null   float64
 4   Garage Area    2930 non-null   float64
 5   Garage Qual    2930 non-null   object
 6   Garage Cond    2930 non-null   object
dtypes: float64(3), object(4)
memory usage: 183.1+ KB

### 4.2.7. Comments

All missing values in Garage category has been filled

# 4.2.8 Handling Basement related columns

In [49]:
df_bsmt = df.filter(regex='Bsmt')
df_bsmt.isnull().sum()

Bsmt Qual         80
Bsmt Cond         80
Bsmt Exposure     83
BsmtFin Type 1    80
BsmtFin SF 1       1
BsmtFin Type 2    81
BsmtFin SF 2       1
Bsmt Unf SF        1
Total Bsmt SF      1
Bsmt Full Bath     2
Bsmt Half Bath     2
dtype: int64

In [50]:
df_bsmt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2930 entries, 0 to 878
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Bsmt Qual       2850 non-null   object
 1   Bsmt Cond       2850 non-null   object
 2   Bsmt Exposure   2847 non-null   object
 3   BsmtFin Type 1  2850 non-null   object
 4   BsmtFin SF 1    2929 non-null   float64
 5   BsmtFin Type 2  2849 non-null   object
 6   BsmtFin SF 2    2929 non-null   float64
 7   Bsmt Unf SF     2929 non-null   float64
 8   Total Bsmt SF   2929 non-null   float64
 9   Bsmt Full Bath  2928 non-null   float64
 10  Bsmt Half Bath  2928 non-null   float64
dtypes: float64(6), object(5)
memory usage: 274.7+ KB

- BsmtFin SF 1, BsmtFin SF 2, Bsmt Unf SF, Total Bsmt SF, Bsmt Full Bath,Bsmt Half Bath has values as float, which are all regarding measurements, missing values to fill in as 0
- Bsmt Qual, Bsmt Cond, Bsmt Exposure, BsmtFin Type 1, BsmtFin Type 2 are all values with categories, like quality and conditions of basement. missing values to be filled with NA.

In [51]:
#filling dtypes object nan values
df['Bsmt Qual'].fillna('NA', inplace = True)
df['Bsmt Cond'].fillna('NA', inplace = True)
df['Bsmt Exposure'].fillna('NA', inplace = True)
df['BsmtFin Type 1'].fillna('NA', inplace = True)
df['BsmtFin Type 2'].fillna('NA', inplace = True)

#filling dtypes float64 nan values with number 0
df['BsmtFin SF 1'].fillna(0 , inplace = True)
df['BsmtFin SF 2'].fillna(0 , inplace = True)
df['Bsmt Unf SF'].fillna(0 , inplace = True)
df['Total Bsmt SF'].fillna(0 , inplace = True)
df['Bsmt Full Bath'].fillna(0 , inplace = True)
df['Bsmt Half Bath'].fillna(0 , inplace = True)

In [52]:
df_bsmt = df.filter(regex='Bsmt')
df_bsmt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2930 entries, 0 to 878
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Bsmt Qual       2930 non-null   object
 1   Bsmt Cond       2930 non-null   object
 2   Bsmt Exposure   2930 non-null   object
 3   BsmtFin Type 1  2930 non-null   object
 4   BsmtFin SF 1    2930 non-null   float64
 5   BsmtFin Type 2  2930 non-null   object
 6   BsmtFin SF 2    2930 non-null   float64
 7   Bsmt Unf SF     2930 non-null   float64
 8   Total Bsmt SF   2930 non-null   float64
 9   Bsmt Full Bath  2930 non-null   float64
 10  Bsmt Half Bath  2930 non-null   float64
dtypes: float64(6), object(5)
memory usage: 274.7+ KB

### 4.2.8. Comments

All missing values in Basement category has been filled

# 4.2.9 Handling Mansory related columns

In [53]:
df_bsmt = df.filter(regex='Mas')
df_bsmt.isnull().sum()

Mas Vnr Type    23
Mas Vnr Area    23
dtype: int64

In [54]:
df_bsmt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2930 entries, 0 to 878
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Mas Vnr Type  2907 non-null   object
 1   Mas Vnr Area  2907 non-null   float64
dtypes: float64(1), object(1)
memory usage: 68.7+ KB

- Mas Vnr Type is a categorical label, therefore filling missing data with NA
- Mas Vnr Area is the measurement of the Mansory, therefore filling the missing value with 0 to keep the datatype a float

In [55]:
#filling dtypes object nan values
df['Mas Vnr Type'].fillna('NA' , inplace = True)

#filling dtypes float64 nan values with number 0
df['Mas Vnr Area'].fillna(0 , inplace = True)

In [56]:
df_bsmt = df.filter(regex='Mas')
df_bsmt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2930 entries, 0 to 878
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Mas Vnr Type  2930 non-null   object
 1   Mas Vnr Area  2930 non-null   float64
dtypes: float64(1), object(1)
memory usage: 68.7+ KB

### 4.2.9. Comments

All missing values in Mansory category has been filled

# 4.2.9 Filling missing values in Electrical

In [57]:
#checking for unique values
df['Electrical'].unique()

array(['SBrkr', 'FuseF', 'FuseA', 'FuseP', 'Mix', nan], dtype=object)

In [58]:
#checking for unique values
df_nona['Electrical'].unique()

array(['SBrkr', 'FuseF', 'FuseA', 'FuseP', 'Mix', ''], dtype=object)

In [59]:
#replacing nan value with NA for Misc Feature
df['Electrical'].fillna('NA', inplace = True)
#checking unique values of Pool QC
df['Electrical'].unique()

array(['SBrkr', 'FuseF', 'FuseA', 'FuseP', 'Mix', 'NA'], dtype=object)

In [60]:
df['Electrical'].isna().sum()

0

All missing values have been filled

In [61]:
#final check for any null values in dataset
df.isnull().sum().sum()

0

# 4.3 Changing Categories to Ordinal Data
- Some Categorical datas can be seen as Ordinal data 
- therefore it is better to convert them for better fitting into the models

### 4.3.1 `'Exter Qual'`

In [62]:
df['Exter Qual'].value_counts()

TA    1799
Gd     989
Ex     107
Fa      35
Name: Exter Qual, dtype: int64

In [63]:
#labels = df_train_pp['Exter Qual'].astype('category').cat.categories.tolist() 
#{'carrier' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}
labels = {'Exter Qual': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1} }
df.replace(labels, inplace=True)
df['Exter Qual'].astype('int64').dtypes

dtype('int64')

In [64]:
df['Exter Qual'].value_counts()

3    1799
4     989
5     107
2      35
Name: Exter Qual, dtype: int64

### 4.3.2 `'Exter Cond'`

In [65]:
df['Exter Cond'].value_counts()

TA    2549
Gd     299
Fa      67
Ex      12
Po       3
Name: Exter Cond, dtype: int64

In [66]:
#labels = df_train_pp['Exter Qual'].astype('category').cat.categories.tolist() 
#{'carrier' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}
labels = {'Exter Cond': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1} }
df.replace(labels, inplace=True)
df['Exter Cond'].astype('int64').dtypes

dtype('int64')

In [67]:
df['Exter Cond'].value_counts()

3    2549
4     299
2      67
5      12
1       3
Name: Exter Cond, dtype: int64

## 4.3.3 `'Bsmt Qual'`

In [68]:
df['Bsmt Qual'].value_counts()

TA    1283
Gd    1219
Ex     258
Fa      88
NA      80
Po       2
Name: Bsmt Qual, dtype: int64

In [69]:
labels = {'Bsmt Qual': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0} }
df.replace(labels, inplace=True)
df['Bsmt Qual'].astype('int64').dtypes

dtype('int64')

In [70]:
df['Bsmt Qual'].value_counts()

3    1283
4    1219
5     258
2      88
0      80
1       2
Name: Bsmt Qual, dtype: int64

## 4.3.4 `'Bsmt Cond'`

In [71]:
df['Bsmt Cond'].value_counts()

TA    2616
Gd     122
Fa     104
NA      80
Po       5
Ex       3
Name: Bsmt Cond, dtype: int64

In [72]:
labels = {'Bsmt Cond': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0} }
df.replace(labels, inplace=True)
df['Bsmt Cond'].astype('int64').dtypes

dtype('int64')

In [73]:
df['Bsmt Cond'].value_counts()

3    2616
4     122
2     104
0      80
1       5
5       3
Name: Bsmt Cond, dtype: int64

## 4.3.5 `'Bsmt Exposure'`

In [74]:
df['Bsmt Exposure'].value_counts()

No    1906
Av     418
Gd     284
Mn     239
NA      83
Name: Bsmt Exposure, dtype: int64

In [75]:
labels = {'Bsmt Exposure': {'Gd': 4, 'Av': 3, 'Mn': 2, 'No': 1, 'NA': 0} }
df.replace(labels, inplace=True)
df['Bsmt Exposure'].astype('int64').dtypes

dtype('int64')

In [76]:
df['Bsmt Exposure'].value_counts()

1    1906
3     418
4     284
2     239
0      83
Name: Bsmt Exposure, dtype: int64

## 4.3.6 `'Bsmt Type 1'`

In [77]:
df['BsmtFin Type 1'].value_counts()

GLQ    859
Unf    851
ALQ    429
Rec    288
BLQ    269
LwQ    154
NA      80
Name: BsmtFin Type 1, dtype: int64

In [78]:
labels = {'BsmtFin Type 1': {'GLQ': 6, 'ALQ': 5, 'BLQ': 4, 'Rec': 3, 'LwQ': 2, 'Unf': 1, 'NA': 0} }
df.replace(labels, inplace=True)
df['BsmtFin Type 1'].astype('int64').dtypes

dtype('int64')

In [79]:
df['BsmtFin Type 1'].value_counts()

6    859
1    851
5    429
3    288
4    269
2    154
0     80
Name: BsmtFin Type 1, dtype: int64

## 4.3.7 `'Heating QC'`

In [80]:
df['Heating QC'].value_counts()

Ex    1495
TA     864
Gd     476
Fa      92
Po       3
Name: Heating QC, dtype: int64

In [81]:
labels = {'Heating QC': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1} }
df.replace(labels, inplace=True)
df['Heating QC'].astype('int64').dtypes

dtype('int64')

In [82]:
df['Heating QC'].value_counts()

5    1495
3     864
4     476
2      92
1       3
Name: Heating QC, dtype: int64

## 4.3.8 `'Heating QC'`

In [83]:
df['Central Air'].value_counts()

Y    2734
N     196
Name: Central Air, dtype: int64

In [84]:
labels = {'Central Air': {'Y': 1, 'N': 0} }
df.replace(labels, inplace=True)
df['Central Air'].astype('int64').dtypes

dtype('int64')

In [85]:
df['Central Air'].value_counts()

1    2734
0     196
Name: Central Air, dtype: int64

## 4.3.9 `'Kitchen Qual'`

In [86]:
df['Kitchen Qual'].value_counts()

TA    1494
Gd    1160
Ex     205
Fa      70
Po       1
Name: Kitchen Qual, dtype: int64

In [87]:
labels = {'Kitchen Qual': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1} }
df.replace(labels, inplace=True)
df['Kitchen Qual'].astype('int64').dtypes

dtype('int64')

In [88]:
df['Kitchen Qual'].value_counts()

3    1494
4    1160
5     205
2      70
1       1
Name: Kitchen Qual, dtype: int64

## 4.3.10 `'Functional'`

In [89]:
df['Functional'].value_counts()

Typ     2728
Min2      70
Min1      65
Mod       35
Maj1      19
Maj2       9
Sev        2
Sal        2
Name: Functional, dtype: int64

In [90]:
labels = {'Functional': {'Typ': 8, 'Min1': 7, 'Min2': 6, 'Mod': 5, 'Maj1': 4, 
                         'Maj2': 3, 'Sev': 2, 'Sal': 1} }
df.replace(labels, inplace=True)
df['Functional'].astype('int64').dtypes

dtype('int64')

In [91]:
df['Functional'].value_counts()

8    2728
6      70
7      65
5      35
4      19
3       9
1       2
2       2
Name: Functional, dtype: int64

## 4.3.11 `'Fireplace Qu'`

In [92]:
df['Fireplace Qu'].value_counts()

NA    1422
Gd     744
TA     600
Fa      75
Po      46
Ex      43
Name: Fireplace Qu, dtype: int64

In [93]:
labels = {'Fireplace Qu': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0} }
df.replace(labels, inplace=True)
df['Fireplace Qu'].astype('int64').dtypes

dtype('int64')

In [94]:
df['Fireplace Qu'].value_counts()

0    1422
4     744
3     600
2      75
1      46
5      43
Name: Fireplace Qu, dtype: int64

## 4.3.12 `'Garage Finish'`

In [95]:
df['Garage Finish'].value_counts()

Unf    1231
RFn     812
Fin     728
NA      159
Name: Garage Finish, dtype: int64

In [96]:
labels = {'Garage Finish': {'Fin': 3, 'RFn': 2, 'Unf': 1, 'NA': 0} }
df.replace(labels, inplace=True)
df['Garage Finish'].astype('int64').dtypes

dtype('int64')

In [97]:
df['Garage Finish'].value_counts()

1    1231
2     812
3     728
0     159
Name: Garage Finish, dtype: int64

## 4.3.13 `'Garage Qual'`

In [98]:
df['Garage Qual'].value_counts()

TA    2615
NA     159
Fa     124
Gd      24
Po       5
Ex       3
Name: Garage Qual, dtype: int64

In [99]:
labels = {'Garage Qual': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0} }
df.replace(labels, inplace=True)
df['Garage Qual'].astype('int64').dtypes

dtype('int64')

In [100]:
df['Garage Qual'].value_counts()

3    2615
0     159
2     124
4      24
1       5
5       3
Name: Garage Qual, dtype: int64

## 4.3.14 `'Garage Qual'`

In [101]:
df['Garage Cond'].value_counts()

TA    2665
NA     159
Fa      74
Gd      15
Po      14
Ex       3
Name: Garage Cond, dtype: int64

In [102]:
labels = {'Garage Cond': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0} }
df.replace(labels, inplace=True)
df['Garage Cond'].astype('int64').dtypes

dtype('int64')

In [103]:
df['Garage Cond'].value_counts()

3    2665
0     159
2      74
4      15
1      14
5       3
Name: Garage Cond, dtype: int64

## 4.3.15 `'Lot Shape'`

In [104]:
df['Lot Shape'].value_counts()

Reg    1859
IR1     979
IR2      76
IR3      16
Name: Lot Shape, dtype: int64

In [105]:
labels = {'Lot Shape': {'Reg': 4, 'IR1': 3, 'IR2': 2, 'IR3': 1} }
df.replace(labels, inplace=True)
df['Lot Shape'].astype('int64').dtypes

dtype('int64')

In [106]:
df['Lot Shape'].value_counts()

4    1859
3     979
2      76
1      16
Name: Lot Shape, dtype: int64

## 4.3.16 `'Utilities'`

In [107]:
df['Utilities'].value_counts()

AllPub    2927
NoSewr       2
NoSeWa       1
Name: Utilities, dtype: int64

In [108]:
labels = {'Utilities': {'AllPub': 3, 'NoSewr': 2, 'NoSeWa': 1} }
df.replace(labels, inplace=True)
df['Utilities'].astype('int64').dtypes

dtype('int64')

In [109]:
df['Utilities'].value_counts()

3    2927
2       2
1       1
Name: Utilities, dtype: int64

## 4.3.17 `'Land Slope'`

In [110]:
df['Land Slope'].value_counts()

Gtl    2789
Mod     125
Sev      16
Name: Land Slope, dtype: int64

In [111]:
labels = {'Land Slope': {'Gtl': 3, 'Mod': 2, 'Sev': 1} }
df.replace(labels, inplace=True)
df['Land Slope'].astype('int64').dtypes

dtype('int64')

In [112]:
df['Land Slope'].value_counts()

3    2789
2     125
1      16
Name: Land Slope, dtype: int64

## 4.3.18 `'Foundation'`

In [113]:
df['Foundation'].value_counts()

PConc     1310
CBlock    1244
BrkTil     311
Slab        49
Stone       11
Wood         5
Name: Foundation, dtype: int64

In [114]:
labels = {'Foundation': {'BrkTil': 6, 'CBlock': 5, 'PConc': 4, 'Slab': 3, 'Stone': 2, 'Wood': 1} }
df.replace(labels, inplace=True)
df['Foundation'].astype('int64').dtypes

dtype('int64')

In [115]:
df['Foundation'].value_counts()

4    1310
5    1244
6     311
3      49
2      11
1       5
Name: Foundation, dtype: int64

## 4.3.19 `'BsmtFin Type 2'`

In [116]:
df['BsmtFin Type 2'].value_counts()

Unf    2499
Rec     106
LwQ      89
NA       81
BLQ      68
ALQ      53
GLQ      34
Name: BsmtFin Type 2, dtype: int64

In [117]:
labels = {'BsmtFin Type 2': {'GLQ': 6, 'ALQ': 5, 'BLQ': 4, 'Rec': 3, 'LwQ': 2, 'Unf': 1, 'NA': 0} }
df.replace(labels, inplace=True)
df['BsmtFin Type 2'].astype('int64').dtypes

dtype('int64')

In [118]:
df['BsmtFin Type 2'].value_counts()

1    2499
3     106
2      89
0      81
4      68
5      53
6      34
Name: BsmtFin Type 2, dtype: int64

## 4.3.20 `'Electrical`

In [119]:
df['Electrical'].value_counts()

SBrkr    2682
FuseA     188
FuseF      50
FuseP       8
Mix         1
NA          1
Name: Electrical, dtype: int64

In [120]:
labels = {'Electrical': {'SBrkr': 5, 'FuseA': 4, 'FuseF': 3, 'FuseP': 2, 'Mix': 1, 'NA': 0} }
df.replace(labels, inplace=True)
df['Electrical'].astype('int64').dtypes

dtype('int64')

In [121]:
df['Electrical'].value_counts()

5    2682
4     188
3      50
2       8
1       1
0       1
Name: Electrical, dtype: int64

## 4.3.21 `'Paved Drive`

In [122]:
df['Paved Drive'].value_counts()

Y    2652
N     216
P      62
Name: Paved Drive, dtype: int64

In [123]:
labels = {'Paved Drive': {'Y': 2, 'P': 1, 'N': 0} }
df.replace(labels, inplace=True)
df['Paved Drive'].astype('int64').dtypes

dtype('int64')

In [124]:
df['Paved Drive'].value_counts()

2    2652
0     216
1      62
Name: Paved Drive, dtype: int64

## 4.3.22 `'Pool QC`

In [125]:
df['Pool QC'].value_counts()

NA    2917
Ex       4
Gd       4
TA       3
Fa       2
Name: Pool QC, dtype: int64

In [126]:
labels = {'Pool QC': {'Ex': 4, 'Gd': 3, 'TA': 2, 'Fa': 1, 'NA': 0} }
df.replace(labels, inplace=True)
df['Pool QC'].astype('int64').dtypes

dtype('int64')

In [127]:
df['Pool QC'].value_counts()

0    2917
3       4
4       4
2       3
1       2
Name: Pool QC, dtype: int64

## 4.3.23 `'Fence`

In [128]:
df['Fence'].value_counts()

NA       2358
MnPrv     330
GdPrv     118
GdWo      112
MnWw       12
Name: Fence, dtype: int64

In [129]:
labels = {'Fence': {'GdPrv': 4, 'MnPrv': 3, 'GdWo': 2, 'MnWw': 1, 'NA': 0} }
df.replace(labels, inplace=True)
df['Fence'].astype('int64').dtypes

dtype('int64')

In [130]:
df['Fence'].value_counts()

0    2358
3     330
4     118
2     112
1      12
Name: Fence, dtype: int64

All ordinal data has been converted

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2930 entries, 0 to 878
Data columns (total 81 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               2930 non-null   int64
 1   PID              2930 non-null   int64
 2   MS SubClass      2930 non-null   int64
 3   MS Zoning        2930 non-null   object
 4   Lot Frontage     2930 non-null   float64
 5   Lot Area         2930 non-null   int64
 6   Street           2930 non-null   object
 7   Alley            2930 non-null   object
 8   Lot Shape        2930 non-null   int64
 9   Land Contour     2930 non-null   object
 10  Utilities        2930 non-null   int64
 11  Lot Config       2930 non-null   object
 12  Land Slope       2930 non-null   int64
 13  Neighborhood     2930 non-null   object
 14  Condition 1      2930 non-null   object
 15  Condition 2      2930 non-null   object
 16  Bldg Type        2930 non-null   object
 17  House Style      2930 non-null   object
 18  Overall Qual     2930 non-null   int64
 19  Overall Cond     2930 non-null   int64
 20  Year Built       2930 non-null   int64
 21  Year Remod/Add   2930 non-null   int64
 22  Roof Style       2930 non-null   object
 23  Roof Matl        2930 non-null   object
 24  Exterior 1st     2930 non-null   object
 25  Exterior 2nd     2930 non-null   object
 26  Mas Vnr Type     2930 non-null   object
 27  Mas Vnr Area     2930 non-null   float64
 28  Exter Qual       2930 non-null   int64
 29  Exter Cond       2930 non-null   int64
 30  Foundation       2930 non-null   int64
 31  Bsmt Qual        2930 non-null   int64
 32  Bsmt Cond        2930 non-null   int64
 33  Bsmt Exposure    2930 non-null   int64
 34  BsmtFin Type 1   2930 non-null   int64
 35  BsmtFin SF 1     2930 non-null   float64
 36  BsmtFin Type 2   2930 non-null   int64
 37  BsmtFin SF 2     2930 non-null   float64
 38  Bsmt Unf SF      2930 non-null   float64
 39  Total Bsmt SF    2930 non-null   float64
 40  Heating          2930 non-null   object
 41  Heating QC       2930 non-null   int64
 42  Central Air      2930 non-null   int64
 43  Electrical       2930 non-null   int64
 44  1st Flr SF       2930 non-null   int64
 45  2nd Flr SF       2930 non-null   int64
 46  Low Qual Fin SF  2930 non-null   int64
 47  Gr Liv Area      2930 non-null   int64
 48  Bsmt Full Bath   2930 non-null   float64
 49  Bsmt Half Bath   2930 non-null   float64
 50  Full Bath        2930 non-null   int64
 51  Half Bath        2930 non-null   int64
 52  Bedroom AbvGr    2930 non-null   int64
 53  Kitchen AbvGr    2930 non-null   int64
 54  Kitchen Qual     2930 non-null   int64
 55  TotRms AbvGrd    2930 non-null   int64
 56  Functional       2930 non-null   int64
 57  Fireplaces       2930 non-null   int64
 58  Fireplace Qu     2930 non-null   int64
 59  Garage Type      2930 non-null   object
 60  Garage Yr Blt    2930 non-null   float64
 61  Garage Finish    2930 non-null   int64
 62  Garage Cars      2930 non-null   float64
 63  Garage Area      2930 non-null   float64
 64  Garage Qual      2930 non-null   int64
 65  Garage Cond      2930 non-null   int64
 66  Paved Drive      2930 non-null   int64
 67  Wood Deck SF     2930 non-null   int64
 68  Open Porch SF    2930 non-null   int64
 69  Enclosed Porch   2930 non-null   int64
 70  3Ssn Porch       2930 non-null   int64
 71  Screen Porch     2930 non-null   int64
 72  Pool Area        2930 non-null   int64
 73  Pool QC          2930 non-null   int64
 74  Fence            2930 non-null   int64
 75  Misc Feature     2930 non-null   object
 76  Misc Val         2930 non-null   int64
 77  Mo Sold          2930 non-null   int64
 78  Yr Sold          2930 non-null   int64
 79  Sale Type        2930 non-null   object
 80  SalePrice        2930 non-null   int64
dtypes: float64(11), int64(51), object(19)
memory usage: 1.8+ MB

In [133]:
bsmt = df.filter(regex='Bsmt')
bsmt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2930 entries, 0 to 878
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Bsmt Qual       2930 non-null   int64
 1   Bsmt Cond       2930 non-null   int64
 2   Bsmt Exposure   2930 non-null   int64
 3   BsmtFin Type 1  2930 non-null   int64
 4   BsmtFin SF 1    2930 non-null   float64
 5   BsmtFin Type 2  2930 non-null   int64
 6   BsmtFin SF 2    2930 non-null   float64
 7   Bsmt Unf SF     2930 non-null   float64
 8   Total Bsmt SF   2930 non-null   float64
 9   Bsmt Full Bath  2930 non-null   float64
 10  Bsmt Half Bath  2930 non-null   float64
dtypes: float64(6), int64(5)
memory usage: 274.7 KB

In [135]:
garage = df.filter(regex='Garage')
garage.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2930 entries, 0 to 878
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Garage Type    2930 non-null   object
 1   Garage Yr Blt  2930 non-null   float64
 2   Garage Finish  2930 non-null   int64
 3   Garage Cars    2930 non-null   float64
 4   Garage Area    2930 non-null   float64
 5   Garage Qual    2930 non-null   int64
 6   Garage Cond    2930 non-null   int64
dtypes: float64(3), int64(3), object(1)
memory usage: 183.1+ KB

In [136]:
lot = df.filter(regex='Lot')
lot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2930 entries, 0 to 878
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Lot Frontage  2930 non-null   float64
 1   Lot Area      2930 non-null   int64
 2   Lot Shape     2930 non-null   int64
 3   Lot Config    2930 non-null   object
dtypes: float64(1), int64(2), object(1)
memory usage: 114.5+ KB

In [137]:
ovr = df.filter(regex='Overall')
ovr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2930 entries, 0 to 878
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Overall Qual  2930 non-null   int64
 1   Overall Cond  2930 non-null   int64
dtypes: int64(2)
memory usage: 68.7 KB

In [142]:
extr = df.filter(regex='Exter')
extr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2930 entries, 0 to 878
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Exterior 1st  2930 non-null   object
 1   Exterior 2nd  2930 non-null   object
 2   Exter Qual    2930 non-null   int64
 3   Exter Cond    2930 non-null   int64
dtypes: int64(2), object(2)
memory usage: 114.5+ KB

In [138]:
mas = df.filter(regex='Mas')
mas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2930 entries, 0 to 878
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Mas Vnr Type  2930 non-null   object
 1   Mas Vnr Area  2930 non-null   float64
dtypes: float64(1), object(1)
memory usage: 68.7+ KB

In [139]:
flr = df.filter(regex='Flr')
flr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2930 entries, 0 to 878
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   1st Flr SF  2930 non-null   int64
 1   2nd Flr SF  2930 non-null   int64
dtypes: int64(2)
memory usage: 68.7 KB

In [140]:
frpl = df.filter(regex='Fireplace')
frpl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2930 entries, 0 to 878
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fireplaces    2930 non-null   int64
 1   Fireplace Qu  2930 non-null   int64
dtypes: int64(2)
memory usage: 68.7 KB

In [143]:
porch = df.filter(regex= 'Porch')
porch.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2930 entries, 0 to 878
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Open Porch SF   2930 non-null   int64
 1   Enclosed Porch  2930 non-null   int64
 2   3Ssn Porch      2930 non-null   int64
 3   Screen Porch    2930 non-null   int64
dtypes: int64(4)
memory usage: 114.5 KB

# 4.4 Splitting combined data for analysis

In [ ]:
df_train_rows = df_train['Id'].tolist()
df_test_rows = df_test['Id'].tolist()
df_train_clean = df.loc[df['Id'].isin(df_train_rows)]
df_test_clean = df.loc[df['Id'].isin(df_test_rows)]

In [ ]:
df_train_clean.shape , df_test_clean.shape

In [ ]:
df_train_clean['SalePrice'].isna().sum() , df_test_clean['SalePrice'].value_counts() # checking if the data split is correct by checking SalePrice

In [ ]:
df_train_clean.head()

In [ ]:
df_test_clean.head()

## 5. Exploratory Data Analysis(EDA)

- Will use `'df_train_clean'` dataset to do the analysis

In [ ]:
df_train_clean.shape

In [ ]:
df_train_clean.info()

- will scale down the number of columns to prevent overfitting the model later
- looking at values that has low correlation with `'SalePrice'`

## 5.1 Correlation to SalePrice

In [ ]:
#looking for columns with no correlation to sales price
df_corr = df_train_clean[df_train_clean.columns[1::]].corr()['SalePrice'][:]

df_corr[(df_corr <= 0.5) & (df_corr >= -0.5)].sort_values(ascending = False)

In [ ]:
#sort out keys with low correlation with sales price
no_corr = df_corr[(df_corr <= 0.5) & (df_corr >= -0.5)].keys()
print(no_corr.size)
no_corr

In [ ]:
df_train_clean.drop(columns=no_corr,inplace = True) #low corr columns removed

df_test_clean.drop(columns=no_corr,inplace = True) #low corr columns removed 

df_train_clean.shape, df_test_clean.shape

## 5.2 Plot data against Sales price
- check for correlation between data
- remove data that has no significant influence to Sales Price

In [ ]:
num_df = df_train_clean.select_dtypes(['int64', 'float64']).keys() # getting the list of numerical data

num_df = [i for i in num_df if i != 'Id']
print(len(num_df))

In [ ]:
#def function to scatter plot data agaisnt sale price
def subplot_scatter(xcolumns, xlabels, dataframe = df_train_clean):
    nrows = int(np.ceil(len(xcolumns)/3)) # Makes sure you have enough rows
    fig, ax = plt.subplots(nrows=nrows, ncols=3, figsize=(15, 4*nrows)) # You'll want to specify your figsize
    plt.subplots_adjust(hspace = 0.4, wspace = 0.4)
    ax = ax.ravel() # Ravel turns a matrix into a vector, which is easier to iterate
    for i, column in enumerate(xcolumns):  # Gives us an index value to get into all our lists
        sns.regplot(x = dataframe[column], y = dataframe['SalePrice'], 
                    data = dataframe, ax = ax[i], line_kws = {'color':'b'})#plot Scatter plot for each data
        ax[i].set_xlabel(xlabels[i])# Set x label for each plot

In [ ]:
subplot_scatter(xcolumns = num_df, xlabels = num_df) # plotting data with high positive or negative corr with SalePrice

### 5.2.1 comments on plots:
- Noticeable outliers in a few graphs
- will eliminate the outliers for better plots
- should have a better solution then removing.

## 5.2.2 Removal of Outliers

In [ ]:
z = np.abs(stats.zscore(df_train_clean[num_df]))
z

In [ ]:
threshold = 4
np.where(z> threshold);

In [ ]:
df_train_clean.shape

In [ ]:
df_train_clean = df_train_clean[(z<threshold).all(axis=1)]
df_train_clean.shape

In [ ]:
subplot_scatter(xcolumns = num_df, xlabels = num_df, dataframe = df_train_clean) 
# plotting data with high positive or negative corr with SalePrice

## 5.2.2 comments 
- No visible outliers is noticed
- data looks correlated to sale price and will be used for model

## 5.2.2 Sorting Object Dtypes

In [ ]:
obj_data = df_train_clean.select_dtypes(['object']).keys()
print(len(obj_data))
obj_data

In [ ]:
df_train_clean_obj = df_train_clean.loc[:, obj_data]
df_train_clean_obj['SalePrice'] = df_train_clean['SalePrice'] #adding in saleprice column for obj dataframe
print(df_train_clean_obj.shape)
df_train_clean_obj.head()

In [ ]:
def subplot_boxplot(xcolumns, xlabels, dataframe = df_train_clean):
    nrows = int(np.ceil(len(xcolumns)/2)) # Makes sure you have enough rows
    fig, ax = plt.subplots(nrows=nrows, ncols=2, figsize=(14, 5*nrows)) # You'll want to specify your figsize
    plt.subplots_adjust(hspace = 0.4, wspace = 0.4)
    ax = ax.ravel() # Ravel turns a matrix into a vector, which is easier to iterate
    for i, column in enumerate(xcolumns):  # Gives us an index value to get into all our lists
        sns.boxplot(x = column, y = 'SalePrice', ax = ax[i], data = dataframe) #plot Scatter plot for each data
        
        medians = dataframe.groupby(column)['SalePrice'].median().values # Calculate number of obs per group & median to position labels
        nobs = dataframe[column].value_counts().values
        nobs = [str(x) for x in nobs.tolist()]
        nobs = ["n: " + i for i in nobs]
        
        pos = range(len(nobs))
        for tick,label in zip(pos,ax[i].get_xticklabels()):
            ax[i].text(pos[tick], medians[tick] + 0.03, nobs[tick],
                    horizontalalignment='center', size='medium', color='r', weight='semibold')

        
        ax[i].set_xlabel(xlabels[i])# Set x label for each plot
        ax[i].set_xticklabels(ax[i].get_xticklabels(), rotation=45);

In [ ]:
subplot_boxplot(xcolumns = obj_data, xlabels = obj_data)

## 5.2.2 comments:
To be removed:
- Alley
- Street
- MS Zoning
- Misc Feature
- Mas Vnr Type
- Exterior 2nd

In [ ]:
# dropping redundant datas
box_to_drop = ['Alley', 'Street', 'MS Zoning', 
               'Misc Feature', 'Mas Vnr Type',
               'Exterior 2nd'] # 6 columns removed
df_train_clean.drop(columns=box_to_drop,inplace = True) #6 columns removed 

df_test_clean.drop(columns=box_to_drop,inplace = True) #6 columns removed 

df_train_clean.shape, df_test_clean.shape

In [ ]:
df_train_clean.columns

In [ ]:
#26 columns left after EDA

#export dataset for further evaluation
df = pd.concat([df_train_clean, df_test_clean], ignore_index=False, sort=False, axis = 0)
print(df.shape)

df.to_csv("../datasets/AHD_EDA.csv", index=False)

## to be continued to Preprocessing and Feature Engineering